/* .space{
    margin: 10px;
    margin-left: 35%;
    margin-top: 20px;
    padding: 2px;


}
section{
    background: #ddb9d6;
}
.box22{
    width: 50%;
    color: #3c07a7;
    background-color: rgb(21, 174, 174);
    border: 3px solid black;
    border-radius: 5%;
}
.text{
    color: rgb(143, 114, 60);
}


.name1{
    
    text-align: center;
    color: rgb(128, 58, 189);
    background: #000;
    border-radius: 6px;
    width: 30%;
    margin-left: 37%;
}
.name2{
    text-align: center;
    color: rgb(82, 114, 141);
}
 */
.freelogo{
    color: #000000;
}